.login-quote {
    width: 45vw;
    margin-bottom: 5%;

}

.login-quote > h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    font-weight: 400;
    color: #3a3a3a;
    margin: 0;
    text-align: left;
}

.login-quote  > h3 {
    margin-top: 3%;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: #D33333;
    text-align: center;
}

.login-area {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.login-input {
    height: 20px;
    margin-bottom: 20px;
    text-align: center
}

.login-button {
    background: #3a3a3a;
    border: none;
    padding: 10px;
    color: white;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

input:focus { 
    outline: none;
  }

button:focus { 
    outline: none;
  }

