body {
  background-image: url('./img/desk.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  padding: 25px;
  margin: 0;

}



.landing-login{
  display: flex;
  flex-direction: column;
  align-items: center;


}


.landing-login > input {
  width: 200px;
  height: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

